/* Common style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.orange-clr {
  color: #e95a08;
}

/* Navbar Style */

.navbar {
  justify-content: space-between;
  margin-top: 30px;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.link-item {
  text-decoration: none;
}

li p,
i {
  color: #8987a1;
}

.home,
i {
  color: #252432;
}

/* Nav Banner Style */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 120px;
}

.banner-left {
  width: 50%;
}

.banner-flwr {
  width: 50%;
}

/* Our plants */

.our-plants .text-contant {
  text-align: center;
}

.our-plants h2 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 50px;
}

.our-plants p {
  font-size: 22px;
  opacity: 50%;
}
