/* Common style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.orange-clr {
  color: #e95a08;
}

.bottom-gap {
  margin-bottom: 120px;
}

/* Navbar Style */

.navbar {
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.link-item {
  text-decoration: none;
}

li p,
i {
  color: #8987a1;
}

.home,
i {
  color: #252432;
}

/* Nav Banner Style */

.banner {
  margin-bottom: 120px;
  margin-top: 120px;
  align-items: end;
}

.banner-left h1 {
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 15px;
}

.banner-left p {
  font-size: 22px;
  opacity: 50%;
}

/* Our plants */

.our-plants .text-contant {
  text-align: center;
  margin-bottom: 90px;
}

.our-plants h2 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 50px;
}

.our-plants p {
  font-size: 22px;
  opacity: 50%;
}

/* Card Section */

.plant-card {
  text-align: center;
}

.name {
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-cart {
  width: 270px;
  height: 50px;
  border: none;
  background-color: #e95a08;
  color: white;
  margin-bottom: 30px;
}

.card-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

/* Plant Lover */

.plant-lover {
  justify-content: space-between;
  margin-top: 250px;
  align-items: center;
  margin-bottom: 150px;
  
}

.lover-desc {
  margin-left: 10px;
}

.lover-desc h2 {
  font-weight: bold;
  font-size: 50px;
}

.lover-desc p {
  font-size: 22px;
}

.lover-desc li {
  margin: 10px 0px;
  opacity: 50%;
}

.lover-img{
   position: relative;
 
}

.badge{
  width: 280px;
   margin-bottom: 400px;
  margin-left: -150px; 
 

}

/* Join Section */

.join {
  justify-content: space-between;
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
}

.join h1 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 52px;
  margin-bottom: 30px;
  padding-top: 200px;
  color: white;
}

.join-mail {
  justify-content: space-around;
}

.mail {
  border: none;
  background-color: white;
  color: black;
  width: 644px;
  height: 50px;
  margin-bottom: 500px;
  padding-left: 20px;
}

.sub {
  background-color: #e95a08;
  border: none;
  color: white;
  width: 180px;
  height: 50px;
}

/* Footer Style */
.footer {
  justify-content: space-between;
  align-items: top;
}

.part1 img {
  margin-bottom: 15px;
}

.part1 p {
  opacity: 50%;
}

footer li {
  list-style: none;
  margin-bottom: 30px;
  font-family: inter;
  opacity: 50%;
}

.icons {
  margin-left: 15px;
}

.tw {
  margin-bottom: 7px;
}
